<article>
    <section class="section section--wide padding--bottom padding--top-large text--align-center">
        <div class="section__content">
            <h1 class="margin--bottom">{{ Model.ContentItem | display_text }}</h1>
          <p>
            {{ "By" | t }} <strong>{{ Model.ContentItem.Author }}</strong> {{ "on" | t }} {{ Model.ContentItem.CreatedUtc | local | date: "%d/%m/%Y" }}
          </p>
        </div>
    </section>

    <section class="section padding--top-large">
        <div class="section__content">
            {{ Model.Content | shape_render }}
        </div>
    </section>

    {{ Model.AfterContent | shape_render }}
</article>