<article>
    <section class="section">
        <div class="section__content constrain">
            <h1 class="heading">{{ Model.ContentItem | display_text }}</h1>
            <p>
                {{ "By" | t }} <strong>{{ Model.ContentItem.Author }}</strong> {{ "on" | t }} {{ Model.ContentItem.CreatedUtc | local | date: "%d/%m/%Y" }}
            </p>
        </div>
    </section>

    {{ Model.Content | shape_render }}

    {{ Model.AfterContent | shape_render }}
</article>