{% assign thumbnailPath = Model.ContentItem.Content.NewsPost.Thumbnail.Paths[0] %}
{% assign isPublished = Model.ContentItem.Published %}

<div class="card card--news">
    {% if thumbnailPath != null %}
    <picture>
        <img src="{{ thumbnailPath | asset_url | resize_url: width:350, height:200, mode:'crop' }}" alt="{{ Model.ContentItem.Content.NewsPost.ThumbnailAlt.Text }}" />
    </picture>
    {% else %}
    <div style="height: 200px; background-color: #ccc;"></div>
    {% endif %}

    <div class="card__body">
        <a class="link--breakout" href="{{ Model.ContentItem | display_url }}">
            <h3 class="margin--bottom-small">{{ Model.ContentItem | display_text }}</h3>
        </a>
        <p class="margin--bottom display--block">
            {% if isPublished %}
                {{ Model.ContentItem.CreatedUtc | local | date: "%d/%m/%Y" }}
            {% else %}
                {{ "Draft" | t }}
            {% endif %}
        </p>
    </div>
</div>