﻿{% assign termName = Model.ContentItem | display_text %}

{% assign taggedContentItemsCount = Queries["ContentByTags"] | query: tagId: Model.ContentItem.ContentItemId | size %}

<section class="section">
	<div class="section__content constrain">
		<h1 class="heading">{{ termName | capitalize }}</h1>

        {% if taggedContentItemsCount != nil %}
            <p>{{ taggedContentItemsCount }} post{% if taggedContentItemsCount != 1 %}s{% endif %} tagged with <strong>{{ termName }}</strong></p>
        {% endif %}

        <div class="content-feed">
            <div class="content-feed__list content-feed__list--two-cols columns--two">
                {% for item in Model.ContentItems %}
                    <div class="content-feed__item">
                        {{ item | shape_build_display: "Summary" | shape_render }}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% shape_pager Model.Pager next_text: 'Older posts', previous_text: 'Newer posts' %}
        {{ Model.Pager | shape_render }}
	</div>
</section>
